

body { 
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 1em; 
}

ul { 
	list-style-type: none; 
	float: left;
	margin: 0 10px 0 0;
}

li {
	width: 220px;
	margin: 1em;
	clear: both;
	content: '';
	display: block;
	overflow: hidden;
	color: #fff;
	font-size: 12px;
}

li img { 
	float: left; margin-right: 5px; 
}

li h3 { 
	margin: 6px 0 5px 0; 
	font-size: 12px; 
}

li.yellow, li.yellow h3 {
	color: green;
}

a { 
	color: #fff; 
	text-decoration: none; 
}

a:hover {
	text-decoration: underline;
}

.divider { 
	height: 1px;
	border-top: 1px thin #fff; 
}

.red {
	background-color: red;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}

.yellow {
	background-color: yellow;
}